@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Colors used in site */
:root {
    --main-white: #f0f0f0;
    --main-black: #181818;
    --main-gray: #303030;
    --main-lightblue: #6bbdff;
    --main-neonlightblue: #9ad2ff;
    --gunmetal-gray: #2A3439;
    --matte-black: #191f22;
}

html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    scrollbar-color: var(--main-lightblue) var(--main-black);
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-lightblue);
}

html::-webkit-scrollbar-track {
    background: var(--main-black);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    background: var(--matte-black);
    background-image: url("https://i.pinimg.com/originals/51/c3/84/51c3840e2043c6cc0e1e093962e57744.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 200;
}


h1, h2 {
    font-family: 'Roboto', monospace, sans-serif;
    font-weight: 500;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

ul {
    list-style: none;
}

@-webkit-keyframes neon_sign {
    20%, 60%, 75%, 85%{
    color: var(--main-lightblue);
    text-shadow:  0 0 10px var(--main-neonlightblue),
                    0 0 20px var(--main-neonlightblue),
                    0 0 40px var(--main-neonlightblue),
                    0 0 80px var(--main-neonlightblue);
    }
    62%, 80% {
    color: var(--matte-black);
    text-shadow:  0 0 10px var(--matte-black),
                    0 0 20px var(--matte-black),
                    0 0 40px var(--matte-black),
                    0 0 80px var(--matte-black);
    }
    95%, 100% {
    color: var(--main-black);
    text-shadow: none;
    }
}

@-moz-keyframes neon_sign {
    20%, 60%, 75%, 85%{
    color: var(--main-lightblue);
    text-shadow:  0 0 10px var(--main-neonlightblue),
                    0 0 20px var(--main-neonlightblue),
                    0 0 40px var(--main-neonlightblue),
                    0 0 80px var(--main-neonlightblue);
    }
    62%, 80% {
    color: var(--matte-black);
    text-shadow:  0 0 10px var(--matte-black),
                    0 0 20px var(--matte-black),
                    0 0 40px var(--matte-black),
                    0 0 80px var(--matte-black);
    }
    95%, 100% {
    color: var(--main-black);
    text-shadow: none;
    }
}

@-ms-keyframes neon_sign {
    20%, 60%, 75%, 85%{
    color: var(--main-lightblue);
    text-shadow:  0 0 10px var(--main-neonlightblue),
                    0 0 20px var(--main-neonlightblue),
                    0 0 40px var(--main-neonlightblue),
                    0 0 80px var(--main-neonlightblue);
    }
    62%, 80% {
    color: var(--matte-black);
    text-shadow:  0 0 10px var(--matte-black),
                    0 0 20px var(--matte-black),
                    0 0 40px var(--matte-black),
                    0 0 80px var(--matte-black);
    }
    95%, 100% {
    color: var(--main-black);
    text-shadow: none;
    }
}

@-o-keyframes neon_sign {
    20%, 60%, 75%, 85%{
    color: var(--main-lightblue);
    text-shadow:  0 0 10px var(--main-neonlightblue),
                    0 0 20px var(--main-neonlightblue),
                    0 0 40px var(--main-neonlightblue),
                    0 0 80px var(--main-neonlightblue);
    }
    62%, 80% {
    color: var(--matte-black);
    text-shadow:  0 0 10px var(--matte-black),
                    0 0 20px var(--matte-black),
                    0 0 40px var(--matte-black),
                    0 0 80px var(--matte-black);
    }
    95%, 100% {
    color: var(--main-black);
    text-shadow: none;
    }
}

@keyframes neon_sign {
    20%, 60%, 75%, 85%{
    color: var(--main-lightblue);
    text-shadow:  0 0 10px var(--main-neonlightblue),
                    0 0 20px var(--main-neonlightblue),
                    0 0 40px var(--main-neonlightblue),
                    0 0 80px var(--main-neonlightblue);
    }
    62%, 80% {
    color: var(--matte-black);
    text-shadow:  0 0 10px var(--matte-black),
                    0 0 20px var(--matte-black),
                    0 0 40px var(--matte-black),
                    0 0 80px var(--matte-black);
    }
    95%, 100% {
    color: var(--main-black);
    text-shadow: none;
    }
}

@-webkit-keyframes bounce {
    
    0% {
        transform: scale(1.0);
    }
    10% {
        transform: scaleY(1.1);
    }
    20% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1.3);
    }
    40% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.5);
    }
    60% {
        transform: scale(1.4);
    }
    70% {
        transform: scale(1.3);
    }
    80% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

@-moz-keyframes bounce {
    
    0% {
        transform: scale(1.0);
    }
    10% {
        transform: scaleY(1.1);
    }
    20% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1.3);
    }
    40% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.5);
    }
    60% {
        transform: scale(1.4);
    }
    70% {
        transform: scale(1.3);
    }
    80% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

@-ms-keyframes bounce {
    
    0% {
        transform: scale(1.0);
    }
    10% {
        transform: scaleY(1.1);
    }
    20% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1.3);
    }
    40% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.5);
    }
    60% {
        transform: scale(1.4);
    }
    70% {
        transform: scale(1.3);
    }
    80% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

@-o-keyframes bounce {
    
    0% {
        transform: scale(1.0);
    }
    10% {
        transform: scaleY(1.1);
    }
    20% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1.3);
    }
    40% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.5);
    }
    60% {
        transform: scale(1.4);
    }
    70% {
        transform: scale(1.3);
    }
    80% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes bounce {
    
    0% {
        transform: scale(1.0);
    }
    10% {
        transform: scaleY(1.1);
    }
    20% {
        transform: scale(1.2);
    }
    30% {
        transform: scale(1.3);
    }
    40% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1.5);
    }
    60% {
        transform: scale(1.4);
    }
    70% {
        transform: scale(1.3);
    }
    80% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

/* navbar styling start */
#nav-button {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display:flex;
}

.nav-button {
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    background: var(--main-lightblue);
    transition: all .5s;
    width: 40px;
    height: 40px;
    margin: 8px;
    position: fixed;
    z-index: 999999;
}

.nav-button span {
    width: 80%;
    display: block;
    position: relative;
    border-bottom: 5px solid var(--main-black);
    border-radius: 15px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.nav-button:active,
.nav-button:focus {
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
}

.nav-button-active span {
    width: 100%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.nav-button-active span:nth-child(1){
    transform: rotate(45deg) translateX(8px) translateY(8px);
}

.nav-button-active span:nth-child(2){
    opacity: 0;
}
.nav-button-active span:nth-child(3){
    transform: rotate(-45deg) translateX(8px) translateY(-8px);
}

.nav-button-active:active,
.nav-button-active:focus {
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
}

#navbar {
    top: -9999;
    left: 0;
    width: 100%;
    height: 70px;
    position: fixed;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background: var(--main-black);
    z-index: 99999;
}

.nav {
    border: 1px solid var(--main-gray);
}

.nav-list {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.nav-list li {
    margin: 5px;
}

.nav-item {
    cursor: pointer;
    position: relative;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
    border: 2px solid var(--main-gray);
}

/* about section styling start */
.about-section {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.about-section p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: var(--main-black);
    -webkit-animation: neon_sign 3s ease-in infinite;
    -moz-animation: neon_sign 3s ease-in infinite;
    -ms-animation: neon_sign 3s ease-in infinite;
    -o-animation: neon_sign 3s ease-in infinite;
    animation: neon_sign 3s ease-in infinite;
}
/* about section styling end */

/* projects section styling start */
.projects-section {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10rem 2rem;
    background: var(--matte-black);
    z-index: 10;
}

.projects-header {
    justify-self: flex-start;
    margin: 0 20px 0 20px;
    border-bottom: 2px solid var(--main-lightblue);
    font-weight: 700;
    color: var(--main-lightblue);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

}

.projects-scroll-box {
    width: 300px;
    min-height: 500px;
    padding: 4rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    align-items: center;
    background: var(--matte-black);
    overflow-x: auto;
    z-index: 50;
    -webkit-overflow-scrolling: touch;
}

.projects-scroll-box::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.projects-scroll-box::-webkit-scrollbar-thumb {
    background: var(--main-lightblue);
}

.projects-scroll-box::-webkit-scrollbar-track {
    background: var(--main-black);
}

.projects-scroll-box div {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.project-tile {
    width: 280px;
    height: 280px;
    margin: 50px 20px 0 0;
    position: relative;
    border-radius: 5px;
    background: var(--gunmetal-gray);
    box-shadow: 0px 10px 10px 5px var(--main-black);
    overflow: hidden;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.project-link {
    width: 100%;
    height: 220px;
    margin: 0 0 20px 0;
}
  
.project-info {
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-90px);
}
  
.project-img {
    width: inherit;
    height: inherit;
    justify-self: flex-start;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px var(--main-black);
}
  
.project-title {
    padding: 10px 0 10px 0;
    font-size: 2rem;
    font-weight: 400;
    color: var(--main-lightblue);
    text-shadow:  0 0 10px var(--main-lightblue),
                  0 0 20px var(--main-lightblue);
}
  
.tech-list {
    justify-self: center;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin: 20px;
}
  
.tech-item {
    width: 75px;
    text-align: center;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    margin: 0 10px 0 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
}
  
.project-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
}

.project-button {
    top: 10;
    right: 10;
    width: 50px;
    height: 50px;
    font-size: 40px;
    position: absolute;
    border: none;
    border-radius: 50%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: var(--main-lightblue);
    background: var(--gunmetal-gray);
    text-shadow:  0 0 10px var(--main-lightblue),
                  0 0 20px var(--main-lightblue);
}

.project-button:focus {
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
}

.project-button-active {
    color: var(--main-black);
    background: var(--main-neonlightblue);
    box-shadow: 0 0 10px var(--main-neonlightblue),
                0 0 20px var(--main-neonlightblue);
    
}

.project-button-active:focus {
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
}

.project-tile-open {
    transition: height .5s;
    height: 440px;
}
  
.project-tile-open .project-info {
    transform: translateY(0);
}
  
.project-tile-open .project-description {
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    -webkit-transition-delay: .8s;
    -moz-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
    opacity: 1;
}
  
.project-tile-open .tech-item:nth-child(1) {
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    opacity: 1;
}
.project-tile-open .tech-item:nth-child(2) {
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
    opacity: 1;
}
.project-tile-open .tech-item:nth-child(3) {
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    -webkit-transition-delay: .6s;
    -moz-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
    opacity: 1;
}
/* projects section styling end */


.info-section {
    width: 100%;
    height: 100vh;
    padding: 10rem 2rem;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--matte-black);
    z-index: 5;
}

.social-links {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.social-link {
    min-width: 12rem;
    display: inline-block;
}

.profile-link {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.profile-link:hover {
    background-color: var(--gunmetal-gray);
}

.profile-link img{
    width: 40px;
    height: auto;
}

.profile-link h4 {
    font-weight: 500;
    padding-left: 5px;
}

.profile-link:hover > h4 {
    color: var(--main-lightblue);
}

.profile-link:hover > img {
    animation-name: bounce;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}

.info-section hr {
    width: 80%;
    height: 5px;
    align-self: center;
    border-radius: 40%;
    background: var(--main-lightblue);
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    border-top: 1px solid var(--main-gray);
    align-items: flex-end;
    justify-content: flex-end;
    background: var(--main-black);
}

.projects-header {
    font-weight: 500;
}

.project-title {
    font-size: 14px;
}

.project-tile {
    margin-top: 20px;
}

.project-tile:hover {
    border: 1px solid var(--main-lightblue);
}

.projects-scroll-box {
    min-width: 300px;
    flex-direction: column;
}

.projects-scroll-box div {
    transition: 0.4s;
}

.social-links {
    flex-direction: column;
}

.social-link {
    margin:10px 0 10px 0;
}